# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Log files
*.log

# System files
Thumbs.db
